coverage/*
coverage/units/*
.DS_Store
db/*.sqlite3
*~
*.cache
*.pid
log/*.log
db/development
db/*.sqlite3
rails_best_practices_output.html
.sass-cache/
tmp/*
tmp/*/*
tmp/*/*/*
tmp/cache/*
tmp/cache/assets/*/*
Icon
nbproject/*
